* {
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-image: linear-gradient(45deg, #8fd3f4, #e48b8b);
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

input {
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

button {
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  display: inline-block;
}

button:hover:not(:disabled) {
  background-color: #8fd3f4;
}

button:disabled {
  cursor: not-allowed;
}

#reset-btn {
  display: none;
  margin-top: 10px;
}

#reset-btn:not(.hidden) {
  display: inline-flex;
  align-items: center;
}

.icon {
  vertical-align: middle;
  margin-right: 5px;
}

#message {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#guesses-grid {
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

@media (max-width: 500px)
  input, button {
    max-width: 100%;
  }
}
